image: Visual Studio 2022
version: '0.1.{build}'

environment:
  AHK_DEBUG: true

install:
  - cmd: |
      py -3.9 -m venv venv
      call venv\Scripts\activate.bat
      python -m pip install --upgrade pip
      python -m pip install --upgrade -r requirements-dev.txt
      python -m pip install "ahk-binary"
      call deactivate

build_script:
  - cmd: |
      call venv\Scripts\activate.bat
      py -3.9 setup.py sdist
      call deactivate

#artifacts:
#  - name: dist
#    path: dist\*

test_script:
  - ps: |
      .\venv\Scripts\activate.ps1
      coverage run -a -m pytest .\tests\unittests --junitxml=reports\pytestresults.xml
      if ($LastExitCode -ne 0) {
        $failure = 1
      } else {
        $failure = 0
      }
      coverage report
      $wc = New-Object 'System.Net.WebClient';
      Get-ChildItem .\reports |
      Foreach-Object {
         $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path $_.FullName))
      }
      if ($failure -ne 0) { throw }





on_finish:
  - cmd: |
      venv\Scripts\activate.bat
      python -m pip install coveralls
      IF DEFINED COVERALLS_REPO_TOKEN (python -m coveralls) ELSE (echo skipping coveralls report for external pr)
