pytest
pillow
unasync@https://github.com/spyoungtech/unasync/archive/refs/heads/unasync-remove.zip
black
tokenize-rt
coverage
mypy
typing_extensions
jinja2
pytest-rerunfailures
ahk-json
ahk-binary
pre-commit
tox
