alabaster==0.7.12
appdirs==1.4.3
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
behave==1.2.6
behave-classy==1.0.0
black==19.3b0
bleach==3.0.2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
colorama==0.4.1
commonmark==0.9.1
coverage==4.5.2
coveralls==1.8.1
decorator==4.3.0
docopt==0.6.2
docutils==0.14
idna==2.7
imagesize==1.1.0
ipython==7.1.1
ipython-genutils==0.2.0
jedi==0.13.1
Jinja2==2.10
keyboard==0.13.3
m2r==0.2.1
MarkupSafe==1.1.0
mistune==0.8.4
more-itertools==4.3.0
packaging==18.0
parse==1.9.0
parse-type==0.4.2
parso==0.3.1
pickleshare==0.7.5
Pillow==7.0.0
pkginfo==1.4.2
pluggy==0.8.0
prompt-toolkit==2.0.7
py==1.7.0
PyAutoGUI==0.9.38
Pygments==2.3.0
PyMsgBox==1.0.6
pyparsing==2.3.0
PyScreeze==0.1.18
pytest==4.0.1
PyTweening==1.0.3
pytz==2018.7
pywin32==224
readme-renderer==24.0
recommonmark==0.6.0
requests==2.20.1
requests-toolbelt==0.8.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==2.4.4
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.1.0
toml==0.10.0
tqdm==4.28.1
traitlets==4.3.2
twine==1.12.2
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
